<div id="page-container">

  <main id="content-container">

    <h1>Enter text for language recognition</h1>

    <div id="input-container">
      <textarea id="classification-input" cols="40" rows="10"></textarea>
      <div id="model-selection-container">
        <div class="model-selector">
          <input type="radio" name="model" id="bigrams" value="bigrams">
          <label for="bigrams">Bigrams</label>
        </div>
        <div class="model-selector">
          <input type="radio" name="model" id="trigrams" value="trigrams" checked>
          <label for="trigrams">Trigrams</label>
        </div>
      </div>
    </div>


    <div id="output-container">
      Hello world
    </div>
  </main>

</div>
