<div id="page-container">

  <main id="content-container">

    <h1>Enter text for language recognition</h1>
    <h6>Use either English, French, German, Italian, Portuguese or Spanish</h6>

    <div id="input-container">
      <textarea id="classification-input" cols="40" rows="10" [(ngModel)]="inputText" (ngModelChange)="onChange()"></textarea>
      <div id="model-selection-container">
        <div class="model-selector">
          <input type="radio" name="model" id="bigrams" value="bigrams" [(ngModel)]="modelChoice">
          <label for="bigrams">Bigrams</label>
        </div>
        <div class="model-selector">
          <input type="radio" name="model" id="trigrams" value="trigrams" checked [(ngModel)]="modelChoice">
          <label for="trigrams">Trigrams</label>
        </div>
      </div>
    </div>


    <div id="output-container">
      <span id="output-string" *ngIf="predictedLanguage !== null && inputText.length > 0">Prediction: {{ predictedLanguage }}</span>
    </div>
  </main>

</div>
